!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}
    %title= "#{h(@title)} - #{h($config['site_name'])}"
    %link{rel: "stylesheet", href: "/stylesheets/application.css", type: "text/css"}
  %body
    #header= parse_page('header', true)
    #content= yield
    #footer= parse_page('footer', true)
